[
  {
    rabbit,
      [
        { loopback_users, [] }
      ]
  },
  {
    rabbitmq_management,
      [
        {listener, [{port, 5672}, {port, 5673}, {port, 15672}]},
        {http_log_dir, "/var/log/rabbitmq/management_http.log"},
        {load_definitions, "/etc/rabbitmq/definitions.json"}
      ]
  }
].

